a {
  box-shadow: inset 0 0 0 0 yellowgreen;
  color: aquamarine;
  margin: 0 -0.25rem;
  padding: 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a:hover {
  box-shadow: inset 100px 0 0 0 rgb(0, 0, 0);
  color: white;
}
